


/* main continer styling  */

.main_continer{
    position: relative;
    display: flex;
    width:100%;
    height:70vh;
    justify-content: center;
    align-items:last baseline ;
    background: linear-gradient(164deg,rgba(36, 36, 38, 0.42) 0%, rgba(36, 36, 38, 0.36) 15%, rgba(247, 253, 255, 0.62) 32%, rgba(247, 253, 255, 0.64) 69%, rgba(36, 36, 38, 0.44) 89%, rgba(36, 36, 38, 0.38) 100%);
}


/* styling topic  */

.topic{
    width:100%;
    display: flex;
    justify-content: center;
    padding-bottom:10em ;
    z-index: 1;
}


.name {
    font-size: 9em;
    background: linear-gradient(164deg,rgba(36, 36, 38, 0.56) 0%, rgba(36, 36, 38, 0.51) 15%, rgba(177, 184, 186, 0.91) 32%, rgba(177, 184, 186, 0.81) 69%, rgba(36, 36, 38, 0.52) 89%, rgba(36, 36, 38, 0.65) 100%);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transition: -webkit-text-stroke 0.4s ease-in-out; 
}

.name:hover {
    -webkit-text-stroke: 0.5px #242426; 
}

.name:not(:hover) {
    -webkit-text-stroke: 0px transparent; 
    transition: -webkit-text-stroke 0.6s ease-in-out;
}



/* image stying and positioning  */

.nadarajar{
    position: absolute;
    top:0%;
    opacity: .7;
    width:25%;
}





/* media query for header component */


@media (min-width:1000px) and (max-width:1200px){
    .name {
        font-size: 7.5em;
    }

    .nadarajar{
        width:35%;
    }
}


@media (min-width:700px) and (max-width:1000px){
    .name {
        font-size: 6em;
    }

    .nadarajar{
        width:45%;
        top:5%;
    }
}


@media (min-width:500px) and (max-width:700px){
    .name {
        font-size: 4.5em;
    }

    .nadarajar{
        width:50%;
        top:15%;
    }
}

@media (min-width:300px) and (max-width:500px){
    .name {
        font-size: 2.8em;
    }

    .nadarajar{
        width:50%;
        top:6%;
    }

    .main_continer{
        height: 50vh;
    }
}