*{
    padding: 0;
    margin: 0;
}
.topic{
    text-align: center;
    margin-top: 2rem;
}

.contain{
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
}
.bulb{
    position: absolute;
    top: -20%;
    left: 30%;
    rotate: 25deg;
}
.bulb img{
    width: 100px;
    height:100px; 
}
.main{
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 70%;
}

.card{
   box-shadow: 0 0 5px lightblue;
   border-radius: 1rem;
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    text-decoration: none;
    color: black ;
}
.LinkImage{
    width: 80%; 
    overflow: hidden;
}

.card div img{
    width: 100%;
    border-radius:1.2rem ;
    border-top-right-radius: 40%;
    border-bottom-left-radius:40% ;
}

.card div h1{
    font-size: 1.5rem;
}

.logo img{
    width: 70px;
    height: 70px;
}
.logo{
    opacity: 0;
    position: absolute;
    bottom: 50%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(50%);

}
.card:hover .logo{
    opacity: 1;
    transform: scale(1.1);
}
.card:hover .LinkImage{
    transition: 1s;
    filter: blur(2px);
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .main{
        width: 90%;
    }
    .bulb{
        left: 20%;
        top: -16%;
    }
    .bulb img{
        height: 70px;
        width: 70px;
    }
}

@media screen and (min-width: 427px) and (max-width: 768px){
    .main{
        width: 90%;
        flex-wrap: wrap;
    }
    .logo{
        bottom: 52%;
    }
    .logo img{
        width: 70px;
        height: 70px;
    }
    .card div h1{
        font-size: 1rem;
    }
    .card{
        width: 70%;
    }
    .hide{
        display: none;
    }
}

@media screen and (max-width: 427px){
    .main{
        width: 100%;
        flex-wrap: wrap;
    }
    .card{
        width: 90%;
    }
    .hide{
        display: none;
    }
}