

/* main continer styling  */

.main_continer{
    padding:1em;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



/* topic styling  */

.topic{
    display: flex;
    justify-content: center;
    padding: 2em 3em ;
    width:60%;
}


.topic h2{

    font-size: 4.5em;
    background: rgb(101,101,102);
    background: linear-gradient(90deg, rgba(101,101,102,1) 0%, rgba(86,85,87,0.8491771708683473) 13%, rgba(61,60,64,0.9556197478991597) 33%, rgba(54,54,58,1) 48%, rgba(86,86,88,0.9752275910364145) 63%, rgba(110,110,112,0.927608543417367) 77%, rgba(99,100,102,0.8435749299719888) 86%, rgba(175,175,177,1) 100%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    text-align: center;
}





/* ball merge continer styling  */

.ball_merge_continer{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
}



/* question continer styling  */

.question_continer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    /* border:1px solid; */
    padding: 2em 1em;
  
}



/* styling for random images in home page */

.item1{
    position:absolute;
    width:175px;
    right:2%;
    top:15%;
    transform: rotate(25deg);
}



.item2{
    position:absolute;
    width:250px;
    left:2%;
    top:30%;
    transform: rotate(-25deg);
}

.item3{
    position:absolute;
    width:400px;
    bottom:0%;
    left:5%;
    transform: rotate(-25deg);
}

.item4{
    position:absolute;
    width:200px;
    bottom:20%;
    right:7%;
    transform: rotate(25deg);
}