
.left_img img{
    height: 100%;
    width: 100%;
}

.main{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
    /* padding: 1rem; */
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 60%;
    /* padding: 1rem; */
}

.right{
    /* padding: 1rem; */
    width: 40%;
}

@media screen and (min-width:300px) and (max-width:376px){
            .main{
                flex-wrap: wrap;
                flex-direction: column-reverse;
                align-items: center;
                overflow: hidden;
                width: 90%;
            }
            .contain{
                overflow: hidden;
                /* border: 2px solid black; */
            }
            .left{
                width: 100%;
            }
            .right{
                width: 100%;
            }
            .left div{
                font-size:.7rem;
            }
            .left div h1{
                font-size: 1.5rem;
            }
}
@media screen and (min-width: 377px) and (max-width: 426px){
    .main{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        overflow: hidden;
        width: 90%;
    }
    .contain{
        overflow: hidden;
        /* border: 2px solid black; */
    }
    .left div{
        font-size:.7rem;
    }
    .left div h1{
        font-size: 1.5rem;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}
@media screen and (min-width: 427px) and (max-width: 768px) {
    .main{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        overflow: hidden;
        width: 90%;
    }
    .contain{
        overflow: hidden;
        /* border: 2px solid black; */
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }

}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .main{
        width: 95%;
    }
    .left div h1{
        font-size: 1.5rem;
    }
    .left div{
        font-size: 1rem;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px){

}
@media screen and (min-width: 1441px) and (max-width: 2767px){

}