.main{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); For dim background overlay */
    z-index: 1000;
}

.popup{
    width: 400px;
    height: 200px;
    background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px green;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
 z-index: 1001;
  
}
.Button{
    color: white;
    background-color: rgb(77, 119, 245);
    padding: 10px;
    border-radius:1rem ;
    align-self: center;
    border: none;
}


.image{
    width: 50px;
    height: 50px;
}