

.main {
    column-count: 3;
    column-gap: 1.5rem;
    width: 75%;
    padding: 1rem;
}


.gal {
    break-inside: avoid;
    margin-bottom: 1.5rem;
    width: 100%;
}

.gal img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--your-color-variable); /* Optional */
}

/* Media Queries for Responsiveness */
@media screen and (min-width: 769px) and (max-width: 1356px) {
    .main {
        width: 90%;
        column-count: 2;
    }
}

@media screen and (min-width: 427px) and (max-width: 768px) {
    .main {
        width: 100%;
        column-count: 2;
    }
}

@media screen and (max-width: 426px) {
    .main {
        width: 100%;
        column-count: 1;
    }
}
