.gradent_continer{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 3%, rgba(226,224,249,0.577468487394958) 13%,  rgba(250,188,210,1) 54%, rgba(249,209,223,0.5802696078431373) 79%, rgba(249,241,244,1) 88%, rgba(255,255,255,1) 100%);
}

.main{
    overflow-x: hidden;
}