



/* main continer styling  */

.main_continer{
    position: relative;
    display: flex;
    width:100%;
    height:70vh;
    justify-content: center;
    align-items:last baseline ;
    background: linear-gradient(54deg,rgba(207, 133, 60, 0.6) 0%, rgba(207, 133, 60, 0.48) 22%, rgba(250, 213, 154, 0.55) 42%, rgba(250, 213, 154, 0.53) 61%, rgba(207, 133, 60, 0.48) 78%, rgba(207, 133, 60, 0.62) 100%);
}


/* styling topic  */

.topic{
    width:100%;
    display: flex;
    justify-content: center;
    padding-bottom:10em ;
    z-index: 1;
}


.name {
    font-size: 9em;
    background: linear-gradient(54deg,rgba(168, 101, 35, 0.67) 0%, rgba(168, 101, 35, 0.58) 22%, rgba(222, 176, 98, 0.72) 42%, rgba(222, 176, 98, 0.69) 61%, rgba(168, 101, 35, 0.55) 78%, rgba(168, 101, 35, 0.73) 100%);
 -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transition: -webkit-text-stroke 0.4s ease-in-out; 
}

.name:hover {
    -webkit-text-stroke: 0.5px #A86523; 
}

.name:not(:hover) {
    -webkit-text-stroke: 0px transparent; 
    transition: -webkit-text-stroke 0.6s ease-in-out;
}



/* image stying and positioning  */

.nadarajar{
    position: absolute;
    top:0%;
    opacity: .7;
    width:20%;
}





/* media query for header component */


@media (min-width:1000px) and (max-width:1250px){
    .name {
        font-size: 7em;
    }

    .nadarajar{
        width:35%;
    }
}


@media (min-width:700px) and (max-width:1000px){
    .name {
        font-size: 5em;
    }

    .nadarajar{
        width:45%;
        top:5%;
    }
}


@media (min-width:500px) and (max-width:700px){
    .name {
        font-size: 4em;
    }

    .nadarajar{
        width:50%;
        top:15%;
    }
}

@media (min-width:300px) and (max-width:500px){
    .name {
        font-size: 2.4em;
    }

    .nadarajar{
        width:50%;
        top:6%;
    }

    .main_continer{
        height: 50vh;
    }
}