@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Boldonse&family=Cabin:ital,wght@0,400..700;1,400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Boldonse&family=Cabin:ital,wght@0,400..700;1,400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.contain{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
}
.Arrow{
    position: absolute;
    top: -4%;
    left: 37%;
    animation: scaling 2s infinite ease-in-out;
}
.Arrow img{
    width: 100px;
    height: 100px;
    opacity: 0.7;
}

.Bear{
    position: absolute;
    left: 1%;
    top: 20%;
}
.Bear img{
    width:200px;
    height: 200px;
    opacity: 0.7;
}
.rabbit{
    position: absolute;
    right: 1%;
    bottom: 10%;
}
.rabbit img{
    width: 200px;
    height: 200px;
    opacity: 0.7;
}

.SpringStar{
    position: absolute;
    bottom: -10%;
    left: 5%;
    rotate: -60deg;
}
.SpringStar img{
    width: 200px;
    height: 200px;
    opacity: 0.7;
}

.Star{
    position: absolute;
    animation: rotation 5s linear infinite;
    right: 5%;
    top: 10%;
}
.Star img{
    width: 100px;
    height: 100px;
    opacity: 0.5;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}

@keyframes scaling {
    0%{
        scale: 0.9;
    }
    50%{
        scale: 1;
    }
    100%{
        scale: 0.9;
    }
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 1.5rem;
  padding: 1rem;
  width: 75%;
  margin: 0 auto;
  justify-items: center;
}


.card{
    border: 2px solid rgb(255, 160, 241);
    box-shadow: 0 0 5px gray;
    border-radius:1rem ;
    width: 10   0%;
    padding: 1rem;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.card .Icon{
    /* position: absolute; */
    border-radius: 50%;
    box-shadow: 0 0 10px gray;
}

.card .Icon img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px solid black;
}
.card div h1{
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-style:inherit;
}
.content{
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 427px){
        .main {
    grid-template-columns: 1fr;
    width: 100%;
  }
        .card{
            width: 100%;
        }
        .hide{
            display:none;
        }
}

@media screen and (min-width: 427px) and (max-width: 768px){
    .card{
        width: 100%;
    }
    .main {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    justify-items: center;

  }
.hide{
    display: none;
}
   
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .main {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
   .card{
    width: 100%;
   }
   .Arrow{
    left: 30%;
    top: -3%;
   }
  .hide{
    display: none;
  }
}