.contain{
      display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 5rem;
}

@media screen and (max-width:768px) {
    .contain{
        margin: 0;
    }
}