.contain{
    /* border: 2px solid black; */
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    
}


@media screen and (max-width:768px) {
    .contain{
        margin: 0;
    }
}